<a href="https://colab.research.google.com/github/GongBakDong/DAP__/blob/main/2022_10_22%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = '2' #' ' 는 문자열. ' ' 안에 무슨 언어가 들어가도 들어간 그대로 보여주는 껍데기
a *= 2
print(a)

a = 2
a *= 2
print(a)

22
4

In [ ]:
b = ['가','나','다','라'] #리스트의 크기는 4. 인덱스는 b[0],b[1],b[2],b[3]
print(b[1]) #인덱스로 리스트 요소 호출 시, [나] X, 나 O
print(b[:4])
print(b[-2:-1])

나
['가', '나', '다', '라']
['다']

In [ ]:
c = 77 #int 정수형
print(c)
print(type(c)) 

c = float(c) #float 은 소수점이 없더라도, 첫 번째 소수점 까지는 출력
print(c)

c = bool(c) #bool은 0 제외 다 True (아마)
print(c)

c = str(c) #string 문자열
c *= 5
print(c)

77
<class 'int'>
77.0
True
TrueTrueTrueTrueTrue

In [ ]:
day = '일요일'
d = "오늘은 {} 입니다.".format(day) #format에 쫄지말고 눈치껏!
print(d)

d = 'Sunday'
d = d.upper()
print(d)
d = d.lower()
print(d)

오늘은 일요일 입니다.
SUNDAY
sunday

In [ ]:
f = 'Hi H I'
print(f)
f = f.split() #split의 사전적 의미는 분할!
print(f)

Hi H I
['Hi', 'H', 'I']

In [ ]:
e = 2
if(e != 2):
  print(1)
else:
  print(0)

e1='지'
e2='민'

print(e1 == e2)
print(e1 >= e2) #가나다라 순으로 된 문자열은 뒤일수록 숫자가 커짐. 간단하게 가 = 1, 나 = 2, 다 = 3 ...etc 등으로 생각하면 편함
print(e1 <= e2)

0
False
True
False

In [ ]:
for i in range(0,4,2): #(시작점, 끝점+!, 간격) 뒤에 2 보고 눈치껏
  print(i)

for i in range(12,7,-2):
  print(i)

0
2
12
10
8

In [ ]:
for i in range(0,3):
  print('iiiii값 출력',i)
  for j in range(0,4):
    print('j값 출력',j)

iiiii값 출력 0
j값 출력 0
j값 출력 1
j값 출력 2
j값 출력 3
iiiii값 출력 1
j값 출력 0
j값 출력 1
j값 출력 2
j값 출력 3
iiiii값 출력 2
j값 출력 0
j값 출력 1
j값 출력 2
j값 출력 3

i = 0 
> j = 0,1,2,3

i = 1
> j = 0,1,2,3

i = 2
> j = 0,1,2,3

i = 3 <- 2보다 크기 때문에 for문 종료


for문안의 for문(=들여쓰기 된)은 순환할 때마다 계속해서 반복

In [ ]:
i = 1
while i<=6: #빈칸 뚫고 비교연산자나 조건 자체를 물어볼 확률 있음
  i +=1
  print('7까지 출력합니다.',i)

7까지 출력합니다. 2
7까지 출력합니다. 3
7까지 출력합니다. 4
7까지 출력합니다. 5
7까지 출력합니다. 6
7까지 출력합니다. 7

In [ ]:
for i in range(1,10):
  if(i%2==1): # %는 나머지 /는 나눗셈 , /에 비해 %가 획수가 많으니 나머지로 외우면 편함
    print(i,' 홀수')
  else: #i%2==0
    print(i, ' 짝수')

1  홀수
2  짝수
3  홀수
4  짝수
5  홀수
6  짝수
7  홀수
8  짝수
9  홀수

In [ ]:
a = 100 #전역변수

def func1(): #함수를 정의하는 것은. 내가 필요할때마다 쓸 수 있는 도구를 제작하는 것. 도구를 제작한다고 사용되는 것이 아닌 것 처럼 작동하지 않으며, 도구를 사용한다고 말해야(함수호출) 함수가 작동한다
  a = 1 #지역변수
  print(a)
  
def func2():
  print(a)

func1() #함수호출
func2() #함수호출

1
100

In [ ]:
a = 10
x = 0
def func3(x): #(a==x)라는 뜻을 내재!
  print(a)
  print(x)


print(x) #전역변수 x의 값을 출력하겠지요


func3(a)

0
10
10

In [ ]:
def printhello(name='Tom', msg = 'How are u?'): #(name,msg)라는 두개의 인자를 받았지만, Default 값을 설정하여 ('tom','how r u') 인자가 들어오지 않았을 때 default 값을 출력하게 만들어짐
#마치 a = 0 에서 1을 출력하고 싶다면 a = 1 이라고 변수에 덮어써줘야하지만, 덮어쓰지 않는다면 0이 되는 개념과 동일
  print('Hi',name,msg)

printhello()
printhello('jimin') #Tom에 덮어쓰기
printhello('alice','im fine')

Hi Tom How are u?
Hi jimin How are u?
Hi alice im fine

In [ ]:
def printnum(*num): #가변인자.. 아시니까 넘기겠습니다
  print(num)

a = 1
b = 2
c = 3
d = [4,5,6]
printnum(a,b,c,d)

(1, 2, 3, [4, 5, 6])

In [ ]:
def facto(n):
  result = 1
  for i in range(1, n+1):
    result *= i #for문 반복동안 계속해서 값을 축적
  
  return result #result 는 함수 내에 선언된 변수이기 때문에 result 반환

print(facto(4))

24

In [ ]:
a = [1,2,3,4]
print(len(a)) #length

print(a[1])
print(a[-1])

4
2
4

In [ ]:
abc = []
abc.append('a')
print(abc)
abc.append('b')
abc.append('a')
print(abc)
abc.pop() #자료구조를 텀블러와 같다고 생각하면 편함
print(abc) #pop으로 값을 빼내고, 남은 값 출력

['a']
['a', 'b', 'a']
['a', 'b']

In [ ]:
num = [1,2,3,4,5,6]
print(num[::-1]) #역으로 출력 
num[:3] = [0,0,0]
print(num)

[6, 5, 4, 3, 2, 1]
[0, 0, 0, 4, 5, 6]

In [ ]:
sqares = [x*x for x in range(10)] # 눈치껏 맨 앞은 수행문, 그 뒤로는 for문
print(sqares)

squares_2 = [] #같은 수행 방식임
for x in range(10):
  squares_2.append(x*x)
print(squares_2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

말이 2차원 리스트지, 그냥 고등학생때 풀던 표 생각하면 편함

In [ ]:
#2차원 리스트
s = [ [1,2,3,4], #1행 (인덱스는 0)
     [5,6,7,8], #2행 (인덱스는 1)
     [9,10,11,12]] #3행 (인덱스는 2)
    # 1열 2열 3열 4열
print(s)
print(s[0]) #인덱스 0 == 1행 출력
print(s[0][1]) #1번쨰 인덱스 0 , 2번째 인덱스 1. == 1행 2열 출력

#파이썬 0603 13p 보면 이해가 쉬울거에요

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[1, 2, 3, 4]
2

In [ ]:
#0703 튜플은 ppt 몇번 읽어주세요!