<a href="https://colab.research.google.com/github/GongBakDong/DAP__/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제시했던 dataset 중 가장 높은 점수를 가지고 있는 Challanger 집단의 dataset을 선택하여 업로드해옴.

In [15]:
from google.colab import files
myfile = files.upload()

Saving LOL_RankGames.csv to LOL_RankGames.csv

기존 dataset에서 필요없는 셀을 어느정도 삭제함.
blue team, red team 각 16개의 열, 게임진행시간과 gameid 까지 34개의 열을 가지고 있음.

In [3]:
from dateutil.parser import parse 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

dataframe head 확인

In [17]:
df1 = pd.read_csv('LOL_RankGames.csv')

df1.head()

       gameId  gameDuraton  blueWins  ...  redTotalGold  redTotalLevel  redAvgLevel
0  4247263043         1323         0  ...         49832             64         12.8
1  4247155821         1317         1  ...         37136             59         11.8
2  4243963257          932         0  ...         35364             50         10.0
3  4241678498         2098         0  ...         70528             84         16.8
4  4241538868         2344         1  ...         74596             85         17.0

[5 rows x 34 columns]

알아볼 통계
1. Avglevel / totallevel 사이의 쏠림을 확인하여, 쏠림에 따라 팀 승률에 어느 영향을 주는지에 대해 파악
2. 19년 자료임으로, 아직 blue팀의 대포 미니언의 공격 사거리가 10 높았을때임. 고로 이 점으로 인해 양 팀간 FirstTower의 차이가 존재하는지 확인.
3. LOL에서 높은 점수대에 도달할수록, 시야를 밝혀주는 '와드'라는 아이템의 중요도가 높아짐. 고로 Wardplace = 와드 설치수와 wardkill= 와드를 없앤 수가 승률에 직접적으로 관여하는지에 대해 파악하고, wardplace에 wardkill 뺀 값, 즉 게임 내에서 확정적으로 유효하게 작동한 와드는 승률에 어느정도 영향을 미치는지를 확인
4. Dragon은 게임내 지형상 blue팀에 가깝고, Baron은 red팀에 가깝기 때문에 FirstBaron, FirstDragon, Dragonkill, Baronkill 들이 각팀에서 차이가 존재하는지 알아봄.
...+a